

.glyphicon{
	color:green;
	font-size: 3em;
	text-align: center;
  
}


.select{
  -webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	 -khtml-user-select: none; /* Konqueror HTML */
	   -moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
			user-select: none; /* Non-prefixed version, currently
								  supported by Chrome and Opera */
			color: red;
}
html,body {
	height:100%;
}


.row-flex, .row-flex > div[class*='col-'] {  
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex:1 1 auto;
}

.row-flex-wrap {
	-webkit-flex-flow: row wrap;
	align-content: flex-start;
	flex:0;
}

.row-flex > div[class*='col-'], .container-flex > div[class*='col-'] {
	 margin:-.2px; /* hack adjust for wrapping */
}

.container-flex > div[class*='col-'] div,.row-flex > div[class*='col-'] div {
	width:100%;
}


.flex-col {
	display: flex;
	display: -webkit-flex;
	flex: 1 100%;
	flex-flow: column nowrap;
}

.flex-grow {
	display: flex;
	-webkit-flex: 2;
	flex: 2;
}
.btn-add{
	align-items : center;
	
}

.main-question{
	padding: 3em 20em 3em 20em;
}
.left-pane {
	text-align: center;
}
.btn-study {
	width: 500px;
} 
.nav-study{
	text-align: right;
}
.help-block, .validator{
    color:red;
}
.radiolist{
    font-weight:normal;
    padding-right: 5px;
    padding-left: 5px;
}
.hl_buttons {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border: 2px solid #4CAF50;
    text-align: center;
    padding: 10px;
}

.hl_buttons:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

